.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    background-color: #f0f2f5;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

a {
    text-decoration: none;
}
.ButtonPerfil{
    font-size: 1vw;
}
.header_icon3{
    display: none;
}
.header_icon {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 1vw;
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

.ButtonPerfil {
    color: white;
    border: 0;
    font-size: 0.8vw;
    font-family: "Rubik", sans-serif;
    background: linear-gradient(to right, #387c74, #19bf66);
    transition: .5s ease-in-out;
    height: 2vw;
    width: 2vw;
    border-radius: 500vw;
}

.ComerzaLogoHeader {
    width: 3vw;
    height: 3vw;
}

.ComerzaHeader {
    font-size: 1.6vw;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #19bf66;
}
@media only screen and (max-width: 800px){
    .header {
        height: 7vw;
        gap: 5vw;
    }  
    .header_icon {
        width: 18vw;
        font-size: 2vw;
    }
    
    .ButtonPerfil {
        font-size: 2vw;
        height: 4vw;
        width: 4vw;
        border-radius: 500vw;
    }
    
    .ComerzaLogoHeader {
        width: 6vw;
        height: 6vw;
    }
    
    .ComerzaHeader {
        font-size: 3.2vw;
    }
    .ButtonPerfil{
        font-size: 2vw;
    }
}
@media only screen and (max-width: 450px){
    .header_icon3{
        display: block;
        font-size: 7vw;
        color: rgb(60, 60, 60);
    }
    .header {
        height: 12vw;
        gap: 11vw;
    }  
    .header_icon {
        display: none;
    }
    .ButtonPerfil {
        font-size: 5vw!important;
        height: 8vw;
        width: 8vw;
        border-radius: 500vw;
    }
    
    .ComerzaLogoHeader {
        width: 8vw;
        height: 8vw;
    }
    
    .ComerzaHeader {
        font-size: 7vw;
    }
    .ButtonPerfil{
        font-size: 2vw;
    }
}

