
.header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #f0f2f5; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    gap: 10vw; 
}
.header_icon{
    display: flex;
    flex-direction: column;
}

