
.listadorde {
    height: 49.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 3vw;
    text-align: center;
    background-color: white;
    font-size: 2vw;
    min-width: 25vw;
    font-size: 1vw;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: rgb(60, 60, 60);
    background: var(--gradient);
    --gradient: linear-gradient(#4eaa7f70, #9bddba2c,white);
}
.listadorde{
    margin-top: -10vw;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-label, :where(.css-dev-only-do-not-override-qnu6hi).ant-descriptions.ant-descriptions-bordered >.ant-descriptions-view .ant-descriptions-row >.ant-descriptions-item-content{
    padding: 0.5vw !important;
}


